#
# Change the settings in this file and save as .env
#
# Leanote Settings
LEANOTE_PORT=8080
SITE_URL=http://localhost:8080
APP_SECRET=V85ZzBeTnzpsHyjQX4zukbQ8qqtju9y2aDM55VWxAH9Qop19poekx3xkcDVvrD0y
